<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Group:</b>
  <%= @event.group_id %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Venue:</b>
  <%= @event.venue_id %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Price:</b>
  <%= @event.price %>
</p>

<p>
  <b>Student:</b>
  <%= @event.student %>
</p>

<p>
  <b>Senior:</b>
  <%= @event.senior %>
</p>

<p>
  <b>Box office:</b>
  <%= @event.box_office_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
