<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @box_office.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @box_office.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @box_office.email %>
</p>

<p>
  <b>Address:</b>
  <%= @box_office.address %>
</p>

<p>
  <b>Mon from:</b>
  <%= @box_office.mon_from %>
</p>

<p>
  <b>Mon to:</b>
  <%= @box_office.mon_to %>
</p>

<p>
  <b>Tue from:</b>
  <%= @box_office.tue_from %>
</p>

<p>
  <b>Tue to:</b>
  <%= @box_office.tue_to %>
</p>

<p>
  <b>Wed from:</b>
  <%= @box_office.wed_from %>
</p>

<p>
  <b>Wed to:</b>
  <%= @box_office.wed_to %>
</p>

<p>
  <b>Thu from:</b>
  <%= @box_office.thu_from %>
</p>

<p>
  <b>Thu to:</b>
  <%= @box_office.thu_to %>
</p>

<p>
  <b>Fri from:</b>
  <%= @box_office.fri_from %>
</p>

<p>
  <b>Fri to:</b>
  <%= @box_office.fri_to %>
</p>

<p>
  <b>Sat from:</b>
  <%= @box_office.sat_from %>
</p>

<p>
  <b>Sat to:</b>
  <%= @box_office.sat_to %>
</p>

<p>
  <b>Sun from:</b>
  <%= @box_office.sun_from %>
</p>

<p>
  <b>Sun to:</b>
  <%= @box_office.sun_to %>
</p>


<%= link_to 'Edit', edit_box_office_path(@box_office) %> |
<%= link_to 'Back', box_offices_path %>
